# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
apex/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

.vscode
.idea

# custom
/data.tar.gz
*.pkl
*.pkl.json
*.log.json
*.ckpt
*.zip
*.ipynb
*.jpg
bash
data
data-before0601
/configs
data_set
results/
gaozhangyang/
src/models/SurfPro/
src/modules/
src/models/__pycache__/
src/models/*.py
!src/models/__init__.py
!src/models/UBC2_model.py

src/datasets/dataloader.py
src/datasets/mpnn_dataset.py
src/datasets/casp_dataset.py
src/datasets/alphafold_dataset.py
src/datasets/fast_dataloader.py

src/interface/pretrain_interface.py

src/models/configs/*.yaml
!src/models/configs/UBC2Model.yaml

src/tools/main_utils.py
src/tools/config_utils.py
src/tools/metrics.py
src/tools/parser.py
src/tools/utils.py

train/results
train/ig*
train/train.sh
train/try_multi_train.py
train/main_train.py

run.sh
output/
work_dirs/
workspace/
tools/exp_bash/
pretrains
cache/
cath_classes/
gt_pdb/
ig_results/
ig_biochem_results_steps50/
ig_results_steps50/
requirements/
tools/prepare_data/
lightning_logs/
predicted_pdb/
/logits
raw_test_data/
test_results/
alphafolddb/
cath_test_82/
figures*

TMscore.cpp
TMscore.f

antonia*
calc_diversity.py
create_cath42test_json.py
json2pkl.py

environment-deprecated.yml
environment0601.yml
environment-full-deprecated.yml
test.py
visualization*
create_cath42test_json.py
pred_pdb2jsonpkl.py
pred_pdb2jsonpkl-thr.py


# Pytorch
*.pth

*.swp
.DS_Store
*.json
run/wandb/
wandb/
esm/
figs/
esm/*
sampling/*
model_zoom/*
run/
